name: Gitleaks

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  gitleaks:
    uses: Diaszano/actions/.github/workflows/gitleaks.yaml@v1.0.0
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
